<EditForm Model="cuentaViajero" OnValidSubmit="onValidSubmit" class="formCuenta">
    <DataAnnotationsValidator/>
    <div class="containerDatos">
        <div class="cardDatos"> 
            <div class="divInp">
                <InputText class="form-control" placeholder="Nombre" @bind-Value="cuentaViajero.Nombre"/>
                <ValidationMessage For="@(() => cuentaViajero.Nombre)"/>
            </div>
            <div class="divInp">
                <InputText class="form-control" placeholder="Apellido" @bind-Value="@cuentaViajero.Apellido"/>
                <ValidationMessage For="@(() => cuentaViajero.Apellido)"/>
             </div>
            <div class="divInp">
                <InputText class="form-control" placeholder="Ciudad" @bind-Value="@cuentaViajero.Ciudad"/>
                <ValidationMessage For="@(() => cuentaViajero.Ciudad)"/>
            </div>
            <div class="divInp">
                <InputText class="form-control" placeholder="Provincia" @bind-Value="@cuentaViajero.Provincia"/>
                <ValidationMessage For="@(() => cuentaViajero.Provincia)"/>
            </div>
        </div>
        <div class="cardDatos">
            <div class="divInp">
                <InputText class="form-control" placeholder="País" @bind-Value="@cuentaViajero.Pais"/>
                <ValidationMessage For="@(() => cuentaViajero.Pais)"/>
            </div>
            <div class="divInp">
                <InputText class="form-control" placeholder="Descripción" @bind-Value="@cuentaViajero.Descripcion"/>
                <ValidationMessage For="@(() => cuentaViajero.Descripcion)"/>                    
            </div>
            <div class="divInp">
                <InputText class="form-control" placeholder="Foto" @bind-Value="@cuentaViajero.FotoPerfil"/>
                <ValidationMessage For="@(() => cuentaViajero.FotoPerfil)"/>
            </div>
            <div class="divInp">
                <InputNumber class="form-control" placeholder="Edad" @bind-Value="@cuentaViajero.Edad"/>
                <ValidationMessage For="@(() => cuentaViajero.Edad)"/>
            </div>
            <div class="divInp">
                <InputText class="form-control" placeholder="Mail" @bind-Value="@cuentaViajero.Mail"/>
                <ValidationMessage For="@(() => cuentaViajero.Mail)"/>
            </div>
        </div>
    </div>
    <div class="containerBtns">
        <button class="btnSubmit" type="submit">@txt_btn_ok</button>
        <button class="btnCancelar" @onclick="onCancel">Cancelar</button>
    </div>

</EditForm>

@code {
    [Parameter] public CuentaViajero cuentaViajero { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
    
    [Parameter]public string txt_btn_ok { get; set; } = "Crear";
}
